body.color {
    background-color: #1d2021;
    color: white;
}

.tophomepage {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    height: auto;
}

.tophomepage:hover {
    background-color: #465357;
    border-radius: 10px;
}

button {
    margin-top: 30px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #4d5658;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #4d565883;
    transition: background-color 0.5s;
}

.page {
    background-color: #363f42;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 10px;
}

.text {
    padding: 10px;
    color: #c8cbcc;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

.title {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

.link {
    font-size: 20px;
}

a {
    color: #dcdfe0;
}

.sans {
    font-family: 'Open Sans', sans-serif;
}

.code {
    background-color: #1d2021;
    font-family: hack, monospace;
    padding: 5px;
    line-height: 40px;
    border-radius: 10px;
}
